body {
  background-color: blue;
}
hr {
  background-color: lightskyblue;
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
  border-color: mediumpurple;
}
img {
  height: 200px;
  border-radius: 20cm;
}
